<!-- BEGIN bottom__form -->
<div class="bottom__form">
	<!-- BEGIN wrapper -->
	<div class="wrapper">

		<select class="my-select">
			<option value="1">Санкт-Петербург</option>
			<option value="2">Москва</option>
			<option value="3">Воронеж</option>
			<option value="4">Пермь</option>
			<option value="5">Владивосток</option>
		</select>
	
		<select class="my-select">
			<option value="1">МРТ головного мозга</option>
			<option value="2">МРТ гипофиза</option>
			<option value="3">МРТ глазных орбит</option>
			<option value="4">something</option>
			<option value="4">something</option>
			<option value="4">something</option>
			<option value="4">something</option>
			<option value="4">something</option>
			<option value="4">something</option>
			<option value="4">something</option>
			<option value="4">something</option>
			<option value="4">something</option>
			<option value="4" data-info="apple">some</option>
			<option value="4" data-info="banana">some</option>
			<option value="4" data-info="orange">some</option>
			<option value="4" data-info="cucumber">some</option>
			<option value="4" data-info="tomato">some</option>
			<option value="4" data-info="pineapple">some</option>
			<option value="4" data-info="else">something</option>
			<option value="4" data-info="more text">some</option>
			<option value="4">something</option>
			<option value="4">something</option>
			<option value="4">something</option>
			<option value="4">something</option>
			<option value="4">something</option>
		</select>

		<select class="my-select">
			<option value="1">Санкт-Петербург</option>
			<option value="2">Москва</option>
			<option value="3">Воронеж</option>
			<option value="4">Пермь</option>
			<option value="5">Владивосток</option>
		</select>

	</div>
	<!-- END wrapper -->
</div>
<!-- END bottom__form -->