<!-- BEGIN top-form -->
<div class="top-form">
	<!-- BEGIN container -->
	<div class="wrapper">

				<select name="spec" class="my-select">
					<option value="1">МРТ</option>
					<option value="2">Операция</option>
					<option value="3">Неврология</option>
					<option value="4">Сердце</option>
					<option value="5">Позвоночник</option>
				</select>


				<select name="usl" class="my-select">
					<option value="1">МРТ головного мозга</option>
					<option value="2">МРТ гипофиза</option>
					<option value="3">МРТ глазных орбит</option>
					<option value="4">МРТ пазух носа</option>
				</select>

				<select name="spec" class="my-select">
					<option value="1">МРТ</option>
					<option value="2">Операция</option>
					<option value="3">Неврология</option>
					<option value="4">Сердце</option>
					<option value="5">Позвоночник</option>
					<option value="6">Печень</option>
					<option value="7">Операция2</option>
					<option value="8">Неврология2</option>
					<option value="9">Сердце2</option>
					<option value="10">Позвоночники2</option>
					<option value="1">МРТ</option>
					<option value="2">Операция</option>
					<option value="3">Неврология</option>
					<option value="4">Сердце</option>
					<option value="5">Позвоночник</option>
					<option value="6">Печень</option>
					<option value="7">Операция2</option>
					<option value="8">Неврология2</option>
					<option value="9">Сердце2</option>
					<option value="10">Позвоночники2</option>
				</select>

	</div>
	<!-- END container -->
</div>
<!-- END top-form -->

