{% set

expert = [
	{
		img: 'img/expert.jpg',
		name: 'Смирнова Татьяна Петровна',
		prof1: 'Хирург',
		prof2: 'Травматолог',
		prof3: 'Ортопед',
		text: 'Стресс заставляет нас жевать чипсы, покупать печенье и конфетки, что непременно увеличивает жировые',
		href: '#'
	},	
	{
		img: 'img/expert.jpg',
		name: 'Смирнова Татьяна Петровна',
		prof: ['хирург','ортопед'],
		text: 'Стресс заставляет нас жевать чипсы, покупать печенье и конфетки, что непременно увеличивает жировые',
		href: '#'
	},	
	{
		img: 'img/expert.jpg',
		name: 'Смирнова Татьяна Петровна',
		prof: ['хирург','ортопед'],
		text: 'Стресс заставляет нас жевать чипсы, покупать печенье и конфетки, что непременно увеличивает жировые',
		href: '#'
	},
	{
		img: 'img/expert.jpg',
		name: 'Смирнова Татьяна Петровна',
		prof: ['хирург','ортопед'],
		text: 'Стресс заставляет нас жевать чипсы, покупать печенье и конфетки, что непременно увеличивает жировые',
		href: '#'
	},
	{
		img: 'img/expert.jpg',
		name: 'Смирнова Татьяна Петровна',
		prof: ['хирург','ортопед'],
		text: 'Стресс заставляет нас жевать чипсы, покупать печенье и конфетки, что непременно увеличивает жировые',
		href: '#'
	}
] 

%}

